WebsterEditor/config.json
*xcuserdata*

WebsterEditor/Resources/public
WebsterEditor/client/target
WebsterEditor/client/repl
WebsterEditor/client/out
WebsterEditor/client/src/js/
WebsterEditor/client/resources/public/js/development.js

WebsterEditor/client/resources/public/css/development.css
