<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Advanced Grid</string>
		<key>file</key>
		<string>advanced_grid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Featured Image</string>
		<key>file</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gallery</string>
		<key>file</key>
		<string>gallery</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Three Boxes</string>
		<key>file</key>
		<string>three</string>
	</dict>
</array>
</plist>
