<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Landing Page</string>
		<key>file</key>
		<string>landing_template</string>
	</dict>
	<dict>
		<key>name</key>
		<string>About Page</string>
		<key>file</key>
		<string>about_template</string>
	</dict>
</array>
</plist>
