<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>New Project</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
                <link href="css/development.css" rel="stylesheet">
                    <link href="css/override.css" rel="stylesheet">
                        <link href="css/bootstrap.min.css" rel="stylesheet">
                            <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
                                </head>
    <body>
        
        <div class="container-fluid selectable draggable" data-type="container">
            <div class="row-fluid selectable draggable" data-type="row">
                <div class="span12 selectable draggable" data-type="column">
                    <h1 class="selectable text-editable" data-type="heading">About!</h1>
                </div>
            </div>
            <div class="row-fluid selectable draggable" data-type="row"></div>
            <div class="row-fluid selectable draggable" data-type="row">
                <div class="offset1 span4 selectable draggable meee" data-type="column">
                    <p class="selectable text-editable" data-type="paragraph">This is some <a href="http://google.com">stuff</a> here</p>
                </div>
                <div class="offset1 span5 selectable draggable" data-type="column">
                    <p class="selectable text-editable" data-type="paragraph" style="width: 100px; height: 30px">And here is some more text with things</p>
                </div>
            </div>
            <div class="row-fluid selectable draggable" data-type="row">
                <div class="offset1 span2 selectable draggable" data-type="column"></div>
                <div class="span2 selectable draggable" data-type="column"></div>
                <div class="span2 selectable draggable" data-type="column"></div>
                <div class="offset1 span2 selectable draggable" data-type="column"></div>
                <div class="offset1 span2 selectable draggable" data-type="column"></div>
                <div class="span2 selectable draggable" data-type="column"></div>
                <div class="offset1 span2 selectable draggable" data-type="column"></div>
                <div class="span2 selectable draggable" data-type="column"></div>
            </div>
        </div>
        
        <script src="js/jquery-1.9.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/rangy.js"></script>
        <script src="js/development.js"></script>
    </body>
</html>
